* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 50%;
  font-family: sans-serif;
  margin: 10px;
}

h1 {
  margin-bottom: 10px;
  color: #e47811;
}

p {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

p a {
  color: #5555FF;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

figure {
  padding: 40px;
}

img {
  margin-bottom: 10px;
}

figcaption a {
  font-size: 14px;
  color: #5555FF;
  font-weight: bold;
  text-decoration: none;
}
