* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 20px;

}

.main-grid {
  display: grid;
  grid-auto-rows: 25% 25% 25% 25%;
  grid-row-gap: 30px;
}

.main-one {
  background-color: #AAAAAA;
  height: 100px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.7rem;
  margin-left: 10px;
  color: white;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  margin: 0 10px;
}

label {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border-style: solid;
}

input::placeholder {
  font-size: 16px;
}

.where {
  grid-column: 1 / 3;
}

.guests {
  grid-column: 1 / 3;
}

.check-in, input[name='check-in'] {
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.check-out, input[name='check-out'] {
  margin-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.submit {
  background-color: #FF5555;
  border: none;
  color: white;
  font-size: 16px;
  grid-column: 1 / 3;
}

h2 {
  margin: 20px 0 0 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  grid-gap: 20px;
  margin: 0 10px;
}

li {
  border: 1px solid lightgray;
  padding: 50px;
}
